POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shortener
DATABASE_URL=postgres://postgres:postgres@db:5432/shortener
REDIS_URL=redis://redis:6379
SHORTENER_PORT=5000
REDIRECTOR_PORT=5001
REDIRECTOR_URL=http://redirector:5001

IMAGE_VERSION=workshop01
NODE_ENV=development

GF_SECURITY_ADMIN_PASSWORD=admin
JAEGER_LOG_LEVEL=debug
